@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300&family=Rubik:wght@500&display=swap');



body {
    font-family: Karla, sans-serif;
    background-image: url(../images/final-welding-background.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: azure;
}

/* headings and logo */

h1, h2 {
    font-family: Rubik, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #6a040f;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
    color: #6a040f;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid white;
}

.active{
    border-bottom: 1px solid white;
}


/*About section*/

#about-section {
    background-color: rgba(44,	7,	3, 0.4);
    margin-top: 200px;
}


/* welding cards */

#mag-img, #mig-img, #tig-img {
    background-color: #2c0703;
    position: relative;
    text-align: center;
    display: inline-block;
    margin: 200px;
}




/* footer */

footer

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 200%;
    margin: 1%;
    padding: 5%;
    color: #e0d7d7;
}