@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300&family=Rubik:wght@500&display=swap');

body {
    font-family: Karla, sans-serif;
    background-image: url(../images/final-welding-background.jpeg);
    background-color: #001219;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

/* headings and logo */
h1 {
    font-family: Rubik, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #A44200;
}

.logo-text {
    color: #A44200;
}

a {
    color: #e09f3e;
}

/* navigation links */
#menu {
    font-size: 150%;
    font-weight: bold;
    letter-spacing: 4px;
}

#menu,
#logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
    color: #A44200;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    border-bottom: 1px solid white;
}

.active {
    border-bottom: 1px solid white;
}

/*About section*/
#about-section {
    background-color: rgba(164, 66, 0, 0.6);
    padding: 10px;
    text-align: justify;
    font-size: x-large;
    margin-top: 5%;
}

/* welding cards */

.mag-img {
    background-color: #A44200;
    position: relative;
    text-align: center;
    display: inline-block;
    padding: 10px;
    margin-top: 15%;
}

.content-boxes {
    /* padding: 30px; */
}

/* welding equipment */
.card-img-top {
    width: 100%;
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
    height: 300px;
    object-fit: cover;
    object-position: top;
}

#welding-equipment-about {
    background-color: rgba(164, 66, 0, 0.6);
    padding: 10px;
    text-align: justify;
    font-size: x-large;
    margin-top: 5%;
    margin-bottom: 5%;
}

#welding-helmet,
#welding-gloves,
#welding-boots,
#welding-overalls {
    background-color: #A44200;
    max-width: 100%;
    height: auto;
    text-align: center;
    display: inline-block;
}

#welding-mag,
#welding-mig,
#welding-tig {
    background-color: #A44200;
    text-align: center;
    display: inline-block;
}

#ppe-about,
#welding-machine-about {
    font-size: 20px;
    margin-top: 1%;
    margin-bottom: 3%;
    text-align: left;
}

/* footer */
footer .social-networks {
    text-align: center;
}

.social-networks>li {
    display: inline;
}

.social-networks i {
    font-size: 220%;
    margin: 1%;
    padding: 5%;
    color: white;
}

/* Form */
#newsletter-about {
    background-color: rgba(164, 66, 0, 0.6);
    padding: 10px;
    width: 600px;
    text-align: justify;
    font-size: x-large;
    margin-top: 5%;
    margin-left: 3%;
}

.form-section {
    clear: left;
    height: 700px;
    font-size: 150%;
}

.signup-form {
    margin: 70px 10% 0 0;
    color: #fff;
    background-color: rgba(164, 66, 0, 0.6);
    position: absolute;
    max-width: 600px;
    left: 25%;
    padding: 30px;
    margin-bottom: 20%;
}

.signup-form>h2 {
    color: #fafafa;
    margin-bottom: 20px;
}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.text-input:hover {
    border-color: #e09f3e;
}

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #e09f3e;
    color: #fafafa;
    display: block;
}

.join-button:hover {
    background-color: #fafafa;
    color: #e09f3e;
}

.text-custom {
    color: #A44200 !important;
}

.bg-dark {
    background-color: black !important;
}

/* Media Queries*/

/* For medium screen sizes 768px and down */
@media screen and (max-width: 768px) {
    #about-section {
        font-size: 15px;
    }

    .mag-img {
        font-size: 15px;
        margin: auto;

    }

    #welding-equipment-about {
        font-size: 15px;
    }

    h2,
    h3 {
        font-size: 15px;
    }

    #ppe-about,
    #welding-machine-about {
        font-size: 15px;
    }

    #welding-helmet,
    #welding-gloves,
    #welding-boots,
    #welding-overalls {
        margin: auto;
        font-size: 15px;
    }

    #welding-mag,
    #welding-mig,
    #welding-tig {
        margin: auto;
        font-size: 15px;
    }

    #newsletter-about {
        font-size: 15px;
    }

    .signup-form {
        margin: 50px 10% 0 0;
    }

    .form-section {
        font-size: 15px;
        height: 600px;
    }

    .social-networks {
        font-size: 80%;
    }

}

/* For small screen sizes 480px and down */
@media screen and (max-width: 480px) {

    #about-section {
        font-size: 13px;
    }

    .mag-img {
        margin: auto;
        font-size: 13px;
    }

    #welding-equipment-about {
        font-size: 13px;
    }

    h1,
    h2,
    h3 {
        font-size: 13px;
    }

    #ppe-about,
    #welding-machine-about {
        font-size: 13px;
    }

    #welding-helmet,
    #welding-gloves,
    #welding-boots,
    #welding-overalls {
        margin: auto;
        font-size: 13px;
    }

    #welding-mag, 
    #welding-mig, 
    #welding-tig {
        font-size: 13px;
    }

    #newsletter-about {
        font-size: 13px;
    }

    .signup-form {
        margin: 0 10% 0 0;
    }

    .form-section {
        font-size: 13px;
        height: 500px;
        margin-top: 50px;
    }

    .social-networks {
        font-size: 50%;
    }

}   